/* Tout notre css */
body {
    font-family: Arial, sans-serif;
}

/* Paramètres pour que "Nos Portfolios" soit comme nous le voulons*/
.titre {
  text-align: center;
  margin-top: 30px;
  font-size: 57px;
  font-weight: 700;
}
/* Mise en place des ombres quand on passe la souris sur les cartes*/
.card {
    width: 350px;
    box-shadow: 0 0 20px #888;
    transition: all 0.3s ease;
}
/* Mise en place de l'animation quand on passe la souris sur les cartes*/
.card:hover {
    transform: scale(1.02) translateY(-10px);
    box-shadow: 0 0 50px #444;
}
/* Bon emplacement des cartes */
.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 80px 0;
    flex-wrap: wrap;
}
/* Lien sur les cartes sans que le texte soit souligné */
.lien-invisible {
    text-decoration: none;
    color: inherit;
}