body {
    font-family: Arial, sans-serif;
}

.titre {
    text-align: center;
    margin-top: 30px;
}

.card {
    width: 350px;
    box-shadow: 0 0 20px #888;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 50px #444;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 80px 0;
    flex-wrap: wrap;
}