body {
    font-family: Arial, sans-serif;
}

.titre {
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
  font-weight: 700;
}

/* Affichage mobile */
@media only screen and (max-width: 520px) {

   .titre { 
      font-size: 40px; 
   }

}

.card {
    max-width: 350px;
    box-shadow: 0 0 20px #888;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.02) translateY(-10px);
    box-shadow: 0 0 50px #444;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 80px 20px;
    flex-wrap: wrap;
}

.lien-invisible {
    text-decoration: none;
    color: inherit;
}