/* Tout notre css */
body, html {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

main {
    margin-top: 60px;
    flex: 1;
}

footer {
    width: 100%;
    text-align: right;
}

/* Paramètres pour que "Nos Portfolios" soit comme nous le voulons*/
.titre {
  text-align: center;
  padding-top: 30px;
  font-size: 60px;
  font-weight: 700;
}

/* Mise en place des ombres quand on passe la souris sur les cartes*/
.card-personne {
    max-width: 350px;
    box-shadow: 0 0 20px #888;
    transition: all 0.3s ease;
    border-width: 0px;
}

.card-longue {
  width: 1155px;
  margin-left: 1.5%;
}

.images-text {
    width:20px;
    margin-top: -0.3%;
}

.cyan-gras {
  font-weight: bold;
  color: #006F8A;  
}
/* Mise en place de l'animation quand on passe la souris sur les cartes*/
.card-personne:hover {
    transform: scale(1.02) translateY(-10px);
    box-shadow: 0 0 50px #444;
}
/* Bon emplacement des cartes */
.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;
    flex-wrap: wrap;
}
/* Lien sur les cartes sans que le texte soit souligné */
.lien-invisible {
    text-decoration: none;
    color: inherit;
}

/* Paramètres particuliers pour mobile */
@media only screen and (max-width: 520px) {

    /* Réduire la taille du titre */
   .titre { 
        font-size: 40px; 
   }

   /* Supprimer l'animation au survol des cartes */
   .card:hover {
        transform: none;
        box-shadow: 0 0 20px #888;
   }

}

.section-etroite {
    width: 100%;
    max-width: 700px;
    padding: 0 20px
}