body {
    font-family: Arial, sans-serif;
}

.titre {
    text-align: center;
    margin-top: 30px;
}

.card {
    width: 350px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 80px 0;
    flex-wrap: wrap;
}