/*.photo {
    width: 300px;
    border-radius: 20px 100px;
    align-self: left;
}*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}

.hero .text-block {
    max-width: 600px;
    margin-top: 20px;
}

.hero-container {
  display: flex;
  align-items: flex-start; 
  gap: 40px;
  min-height: 80vh;
  padding: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
  scroll-behavior: smooth;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
}

.section {
  padding: 100px 20px;
  min-height: 60vh;
  margin-top: 60px;
}

.hero img {
  width: 500px;
  border-radius: 5%;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.card.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}

.nav-link.active {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  color: #3498db;
}