.photo {
    width: 300px;
    border-radius: 20px 100px;
    align-self: left;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}

.hero .text-block {
    max-width: 600px;
}

.hero .text-block p {
    margin-top: 20px;
}